@import "../../theme/colors";

.pagination{
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-button{
  background-color: $color_snow_normal;
  color: $color_text_dark;
  padding: 16px;
  text-transform: uppercase;
  margin-right: 8px;
}
