@import "../../theme/colors";

.issues{
}

.issue{
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: $color_snow_normal;
  border-bottom: 1px solid $color_text_dark;
  .title{
    color: $color_text_dark;
    font-weight: bold;
  }
  span{
    color: #2E3440;
    font-size: 12px;
  }
}
