@import "../../theme/colors";

$filter_border_dark: 1px solid $color_text_dark;

.filter-issue{
  background-color: $color_snow_light;
  border: 1px solid $color_snow_normal;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    .total{
      margin-bottom: 8px;
    }
  }

  @media screen and (max-width: 425px) {
    .filters{
      flex-direction: column;
      .filter-group{
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
  }

  .total{
    color: $color_text_dark
  }
  .filters{
    display: flex;
    align-items: center;
    justify-content: center;
    .filter-group{
      margin-right: 8px;
    }
    .filter-button{
      &:first-child{
        border-left:$filter_border_dark;
      }
      background-color: $color_snow_normal;
      color: $color_text_dark;
      padding: 4px 8px;
      border: $filter_border_dark;
      border-left: none;
      outline: none;
      cursor: pointer;
    }

    .filter-button-selected{
      &:first-child{
        border-left:$filter_border_dark;
      }
      background-color: $color_text_dark;
      color: $color_snow_light;
      padding: 4px 8px;
      border: $filter_border_dark;
      border-left: none;
      outline: none;
      cursor: pointer;
    }
  }
}
